In [2]:
import pandas as pd

In [64]:
df = pd.read_csv('Pokemon.csv')

In [65]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [66]:
df.columns = df.columns.str.replace(' ', '_').str.replace('.', '').str.lower()
df = df.rename(columns={"#": "id"})

In [67]:
df.head()

,id,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [68]:
legends = df.groupby(['generation', 'legendary'])['legendary'].count().to_frame()

In [69]:
legends = legends.rename(columns={"legendary": "legendary_count"})

In [70]:
legends

                      legendary_count
generation legendary
1          False                  160
           True                     6
2          False                  101
           True                     5
3          False                  142
           True                    18
4          False                  108
           True                    13
5          False                  150
           True                    15
6          False                   74
           True                     8

In [71]:
legends_unstacked = legends.unstack()

In [72]:
legends_unstacked

           legendary_count
legendary            False True
generation
1                      160     6
2                      101     5
3                      142    18
4                      108    13
5                      150    15
6                       74     8

In [96]:
df.query('legendary == True').groupby(['generation', 'type_1']).count().sort_values('legendary', ascending=False)

                     id  name  type_2  total  hp  attack  defense  sp_atk  \
generation type_1
3          Dragon     6     6       6      6   6       6        6       6
5          Dragon     5     5       5      5   5       5        5       5
3          Psychic    4     4       0      4   4       4        4       4
1          Psychic    3     3       1      3   3       3        3       3
4          Psychic    3     3       0      3   3       3        3       3
           Grass      2     2       1      2   2       2        2       2
3          Water      2     2       0      2   2       2        2       2
6          Psychic    2     2       2      2   2       2        2       2
5          Ground     2     2       2      2   2       2        2       2
           Flying     2     2       0      2   2       2        2       2
           Electric   2     2       2      2   2       2        2       2
4          Normal     2     2       0      2   2       2        2       2
           Ghost      2     2       2      2   2       2        2       2
6          Rock       2     2       2      2   2       2        2       2
3          Steel      2     2       1      2   2       2        2       2
           Ground     2     2       1      2   2       2        2       2
2          Fire       2     2       1      2   2       2        2       2
3          Rock       1     1       0      1   1       1        1       1
1          Fire       1     1       1      1   1       1        1       1
           Ice        1     1       1      1   1       1        1       1
6          Fire       1     1       1      1   1       1        1       1
           Fairy      1     1       0      1   1       1        1       1
           Dragon     1     1       1      1   1       1        1       1
           Dark       1     1       1      1   1       1        1       1
5          Steel      1     1       1      1   1       1        1       1
           Rock       1     1       1      1   1       1        1       1
           Psychic    1     1       1      1   1       1        1       1
2          Electric   1     1       0      1   1       1        1       1
5          Grass      1     1       1      1   1       1        1       1
4          Dark       1     1       0      1   1       1        1       1
2          Psychic    1     1       1      1   1       1        1       1
           Water      1     1       0      1   1       1        1       1
4          Water      1     1       1      1   1       1        1       1
           Steel      1     1       1      1   1       1        1       1
           Fire       1     1       1      1   1       1        1       1
3          Ice        1     1       0      1   1       1        1       1
1          Electric   1     1       1      1   1       1        1       1

                     sp_def  speed  legendary
generation type_1
3          Dragon         6      6          6
5          Dragon         5      5          5
3          Psychic        4      4          4
1          Psychic        3      3          3
4          Psychic        3      3          3
           Grass          2      2          2
3          Water          2      2          2
6          Psychic        2      2          2
5          Ground         2      2          2
           Flying         2      2          2
           Electric       2      2          2
4          Normal         2      2          2
           Ghost          2      2          2
6          Rock           2      2          2
3          Steel          2      2          2
           Ground         2      2          2
2          Fire           2      2          2
3          Rock           1      1          1
1          Fire           1      1          1
           Ice            1      1          1
6          Fire           1      1          1
           Fairy          1      1          1
           Dragon         1      1          1
           Dark           1      1          1
5          Steel          1      1          1
           Rock           1      1          1
           Psychic        1      1          1
2          Electric       1      1          1
5          Grass          1      1          1
4          Dark           1      1          1
2          Psychic        1      1          1
           Water          1      1          1
4          Water          1      1          1
           Steel          1      1          1
           Fire           1      1          1
3          Ice            1      1          1
1          Electric       1      1          1

In [88]:
df

,id,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True